@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cormorant&family=Hind+Siliguri&family=Raleway&family=Roboto+Mono&display=swap');

/* GENERAL */
/* ======================================================================================================= 
======================================================================================================= 
======================================================================================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Anton', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
/* ======================================================================================================= 
======================================================================================================= 
======================================================================================================= */



/* HEADER */
/* ======================================================================================================= 
======================================================================================================= 
======================================================================================================= */
#welcomeUser{
position: absolute;
left: 10px;
top: 10px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.title{
  font-size: 50px;
  font-family: 'Anton', sans-serif;
}

.title:hover{
 color: grey;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
  font-family: 'Anton', sans-serif;
}


/* FORMS */
/* ======================================================================================================= 
======================================================================================================= 
======================================================================================================= */


.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* .goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
} */



form,
.content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#form-login-register{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form-group input,
.form-group textarea,
.form-group select {

  width:10rem;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}


.form-group label {
  text-align: left;
  display: block;
  margin: 0 10px 10px 5px;
}

#description{
  width:10rem;
  height: 2.2rem;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 2rem;
  
}

.btn:hover {
  transform: scale(0.98);
}

.dot-container{
  display: flex;
  margin: 5rem 5rem 3rem 5rem;
}

.dot-container .close:first-child{
  position: relative;
  display: none;
}

.dot-container:hover .close{
  position: relative;
  display: block;
}

.dots-container .close{
  position: relative;
  display: none;
}

.dots-container:hover .close{
  position: relative;
  display: block;
}


.close {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  height: 20px;
  width: 20px;
}

.show-delete{
  padding-left: 2rem;
  width: 50px;
}
#delete-dot{
  font-size: 20px;
}
#delete-dot:hover{
  font-size: 22px;
  color: #777;
}


#show{
  font-size: 15px;
  margin-top:.4rem;
}
#show:hover{
  font-size: 22px;
  color: #777;
}
/* .close:hover {
  position: fixed;
  cursor: pointer;
  border: none;
  background: black;
  height: 20px;
  width: 20px;

} */
/* .dot-container:hover{

} */

.dot-itself{
  background-color: black;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

.dot-itself:hover{
  background-color: grey;
  transition: transform 150ms;
  transform: translateY(-10px);

}


.dots-Container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

#profile-page-title{
  font-size: 30px;
  text-decoration: underline solid black 2px;
  cursor: default;
}



.showPageContainer{
  margin: 0 auto;
 display: flex;
 justify-content: center;
 flex-direction: column;
 /* align-content: baseline; */
 width: 90%;
 
}

.showPage-dot-Container{
  display: flex;
  justify-content: center;
}

.dot-info-container{
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  margin: 0 1.7rem 0 0;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  line-height: 20px;
  text-decoration: underline solid 2px grey;
  word-wrap:break-word;
}

.showPage-span{
  color: grey;
  cursor: default;
}

#showPage-URL:hover{
  color: blue;
  cursor: pointer;
}

.showPage-p{
  margin: 1rem 0 1rem 0;
}